<!-- Header -->
<div class="header">
  <!-- Main Heading -->
  <div class="tw-text-24-px tw-font-600">Open Books Library</div>
  <!-- Searchbar - Implements an onSearch() function on clicking or pressing enter.This function will healp you search your contents-->
  <div class="search-button">
    <mat-icon class="tw-mt-16-px" aria-label="Search Icon" (click)="onSearch()">search</mat-icon>
    <input
      id="search"
      [formControl]="bookSearch"
      name="searchKey"
      type="text"
      value=" "
      placeholder="Search Books"
      class="tw-border-0 tw-bg-inherit"
      (keyup.enter)="onSearch()"
    >
    <!-- Clear Search Button -->
    <button mat-icon-button (click)="clearSearch()" class="cross">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
<!-- Fetching data into table -->
<div class="tw-flex tw-flex-row tw-m-24-px">
  <section class="trending-subjects">
    <div class="tw-font-600 tw-text-24-px">Trending Subjects</div>
    <ul class="tw-list-none tw-pl-0">
      <li class="tw-text-16-px tw-cursor-pointer tw-p-12-px" *ngFor="let subject of trendingSubjects" routerLink="/trending-subject/{{ subject.name }}">
        {{ subject.name }}
      </li>
    </ul>
  </section>
  <div class="table-view">
    <table class="tw-border tw-border-collapse tw-w-full">
      <thead>
        <tr>
          <th class="tw-p-4-px heading">Book Title</th>
          <th class="tw-p-4-px heading">Author</th>
          <th class="tw-p-4-px heading">Year</th>
        </tr>
      </thead>
      <tbody class="table-body" *ngIf="!loading && books.length > 0; else loadingOrNoResults">
        <tr class="row-data" *ngFor="let book of books">
          <!-- defined links only shown -->
          <td *ngIf="book.bookUrl.split('/').pop()!=='undefined'" class="tw-p-4-px"><a [href]="book.bookUrl" target="_blank">{{ book.title }}</a></td>
          <!-- Undefined links are not shown -->
          <td *ngIf="book.bookUrl.split('/').pop()==='undefined'"class="tw-p-4-px">{{ book.title }}</td>
          <td class="tw-p-4-px">{{ book.authorName }}</td>
          <td class="tw-p-4-px">{{ book.year }}</td>
        </tr>
      </tbody>
      <!-- Loading or No results found alternatives -->
      <ng-template #loadingOrNoResults>
        <tr>
          <td colspan="3" class="tw-p-4-px">
            <div *ngIf="loading; else noResults">Loading....</div>
            <ng-template #noResults>No results found.</ng-template>
          </td>
        </tr>
      </ng-template>
    </table>
    <!-- Pagination -->
    <mat-paginator [length]="pageCount()" [pageSize]="pageSize" [pageIndex]="currentPage - 1" [pageSizeOptions]=[10] (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
